<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mvvm</title>
</head>

<body>
  <div id="root">
    <div>
      first name: {{ person.name.first }}
      last name: {{ person.name.last }}
    </div>
    <input type="text" v-model='person.name.first'>
    <br>
    <input type="text" v-model='person.name.last'>
    <div>
      age: {{ person.age }}
    </div>
    <div>
      <input type="text" v-model='person.num[0]'>
      num: {{ person[num][0] }}
    </div>
  </div>
  <script src="./index.js"></script>
  <script>
    const vm = new MVVM({
      el: '#root',
      data: {
        person: {
          name: {
            first: 'Tom',
            last: 'Smith'
          },
          age: 15,
          num: [1,2,3,4]
        }
      }
    })
  </script>
</body>

</html>